<h1>Sign up</h1>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages'%>
  <div class="field">
    <%= f.label :name %>
    <p class="instruction">Just letters without symbols</p>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email%>
    <p class="instruction">With the standar format: mail@example.com</p>
    <%= f.text_field :email%>
  </div>
  <div class="field">
    <%= f.label :password %>
    <p class="instruction">Minimum 6 letters</p>
    <%= f.password_field :password, :value => "" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirmation" %>
    <p class="instruction">Repeat password</p>
    <%= f.password_field :password_confirmation, :value=> ""%>
  </div>
  <div class="actions">
    <%= f.submit "Sign up"%><br />
  </div>
<% end %>

