<h1>Sign up</h1>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages'%>
  <div class="field">
    <%= f.label :name, "User Name" %>
    <p class="instruction">
      <span>Just letters without symbols or spaces<span>
    </p>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email%>
    <p class="instruction">With the standar format: mail@example.com</p>
    <%= f.text_field :email%>
  </div>
  <div class="field">
    <%= f.label :password %>
    <p class="instruction">Minimum 6 letters</p>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirmation" %>
    <p class="instruction">Repeat password</p>
    <%= f.password_field :password_confirmation%>
  </div>
  <div class="actions">
    <%= f.submit "Sign up"%><br />
  </div>
<% end %>

